# Lab 02: Consultas em SQL (Parte 1)

![Figure 1](../images/Bank%20Example%20-%20Printable.png "Bank Database")

O ficheiro bank.sql contém um conjunto de instruções SQL para criar a base de dados de exemplo ilustrada na Figura 1.

In [1]:
%load_ext sql 
%sql postgresql+psycopg://db:db@postgres/db

Escreva uma consulta em SQL para responder a cada uma das seguintes questões:

(a) Quem são os clientes que têm contas com saldo superior a 500€?

In [2]:
%%sql

SELECT
    DISTINCT d.customer_name
FROM
    depositor as d,
    account as a
WHERE
    d.account_number = a.account_number
AND
    a.balance > 500;

Running query in 'postgresql+psycopg://db:***@postgres/db'

7 rows affected.

+---------------+
| customer_name |
+---------------+
|     Flores    |
|    Iacocca    |
|    Johnson    |
|     Evans     |
|     Oliver    |
|      Cook     |
|     Brown     |
+---------------+

(b) Em que cidades moram os clientes que têm empréstimos entre 1000€ e 2000€?

(c) Quais seriam os novos saldos das contas na agência de ‘Downtown’, se esta
oferecesse um bónus de 10% sobre o saldo atual dos seus clientes?

(d) Qual é o saldo de todas as contas do cliente que tem o empréstimo L-15?

(e) Quais são as agências onde têm conta os clientes cujo nome começa por ‘J’ e acaba
em ‘n’?

(f) Quais são as quantias dos empréstimos de todos os clientes que moram numa
cidade cujo nome tem exatamente 6 caracteres?

(g) Quais são as quantias dos empréstimos de todos os clientes que moram numa
cidade cujo nome tem pelo menos um espaço no meio (e não no início nem no
final)?

(h) Quais os ativos (“assets”) das agências onde o Johnson tem conta?

(i) Quem são os clientes que têm um empréstimo numa agência da mesma cidade onde moram?

(j) Qual é a quantia total em saldos de contas existentes em agências da cidade de Lisboa (‘Lisbon’)?

(k) Quem são os clientes que moram em cidades onde existem agências do banco?